<html>
    <body>
        <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      <form action="http://127.0.0.1:5000/login" method= "post" >
        <label for="mail">EMAIL_ID:</label>
        <input type="text" placeholder="enter email" name="mail"><br><br>
        <label for="pss">PASSWORD :</label>
        <input type="password" placeholder="enter password" name="pss"><br><br> 
        <input type="submit" value="REGISTER">
      </form>
    </body>
</html>